.checkstyle
.classpath
.externalToolBuilders/
.project
.gradle
.settings/
.idea/
artifacts/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
*.iml
*.ipr
*.iws
build/
downloaded_files/
node_modules/
typescript-types/dist/

logs/
json-logs/raw*

.DS_Store

appConfig.json
appConfig_*.json
verificationToken.txt

*.hprof
tmp/

