.checkstyle
.classpath
.externalToolBuilders/
.project
.gradle
.settings/
.idea/
artifacts/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
*.iml
*.ipr
*.iws
build/
downloaded_files/
