<configuration>
    <appender name="default" class="ch.qos.logback.core.FileAppender">
        <file>logs/console.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{64} %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.slack.api" level="debug"/>
    <logger name="io.helidon" level="debug"/>
    <root level="info">
        <appender-ref ref="default"/>
    </root>
</configuration>