a.headerlink {
  display: none !important;
}

.section-title {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
  font-weight: 700;
  margin: 0 0 1rem;
}

nav#api_nav {
  padding: 0 30px;
}

nav#api_nav .toctree-l1 {
  margin-bottom: 1.5rem;
}

nav#api_nav #api_sections ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav#api_nav #api_sections ul li.toctree-l1>.toctree-h {
  color: #1d1c1d;
  letter-spacing: 0;
  font-size: 1.1rem;
  font-weight: 800;
  /* text-transform: uppercase; */
  border: none;
  padding: 0 0 5px 2px;
}

nav#api_nav #api_sections ul li.toctree-l2 {
  margin: 0;
  padding: 0;
}

nav#api_nav #api_sections ul li.toctree-l2 a {
  color: #1d1c1d;
  text-transform: none;
  font-weight: inherit;
  padding: 0;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 15px!important;
  line-height:15px;
  padding: 3px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  line-height: 1.35em;
}

nav#api_nav #api_sections ul li.toctree-l2 a:hover {
  cursor: pointer;
  text-decoration: none;
  background-color:#e6eff5;
  border-color: #dff0fa;
}

nav#api_nav #footer #footer_nav {
  font-size: .9375rem;
}

nav#api_nav #footer #footer_nav a {
  border: none;
  padding: 0;
  color: #616061;
}

nav#api_nav #footer #footer_nav a:hover {
  text-decoration: none;
  color: #1c1c1c;
}
