name: JDK 1.8 Build & Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ["8"]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: "adopt"
      - name: Run all tests
        run: |
          if [ ${{ matrix.java-version }} == "8" ]; then
            export TRAVIS_JDK=openjdk8
          fi
          ./scripts/run_no_prep_tests.sh -ci
        env:
          SKIP_UNSTABLE_TESTS: 1
