name: JDK 14 Build & Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 12
    strategy:
      matrix:
        java-version: ['14']

    steps:
    - uses: actions/checkout@v3
    - name: Install JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
    - name: Run all tests
      run: |
        ./scripts/run_no_prep_tests.sh -ci
      env:
        SKIP_UNSTABLE_TESTS: 1
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        dry_run: true
        verbose: true
        fail_ci_if_error: true