name: JDK 17 Build & Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: ["17"]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: ${{ matrix.java-version }}
          distribution: "adopt"
      - name: Run all tests
        run: |
          ./scripts/run_no_prep_tests.sh -ci
        env:
          SKIP_UNSTABLE_TESTS: 1
